Sources/Client.Implementation/Service References/ListenerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AMSLLC.Listener.Service.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMSLLC.Listener.Service.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetDeviceServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TesterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeviceServiceRequest" nillable="true" type="tns:GetDeviceServiceRequest" />
  <xs:complexType name="ServiceFaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFaultDetails" nillable="true" type="tns:ServiceFaultDetails" />
  <xs:complexType name="SendTestDataServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceTestId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendTestDataServiceRequest" nillable="true" type="tns:SendTestDataServiceRequest" />
</xs:schema>